<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624025412700-g2a1dgqt4d3quo026tomtjck9v1hoj4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624025412700-g2a1dgqt4d3quo026tomtjck9v1hoj4q</string>
	<key>API_KEY</key>
	<string>AIzaSyDwtYazmlor16hgvaC3dr9xJpL0NIjA1ZU</string>
	<key>GCM_SENDER_ID</key>
	<string>624025412700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Dangnh.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-2f43b</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-2f43b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624025412700:ios:2016b27ecd08406edf3299</string>
</dict>
</plist>